
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>My todo list</h2>
            <button class="btn btn-primary" 
                [disabled]="allowAddingItem"
                (click)="addTodo(newTodo.value); newTodo.value=''">Add</button>
            <input
              type="text" #newTodo
              class="form-control"
              (input)="onUpdateInput($event)"
              >
              <ul>
                  <li *ngFor="let todo of todo">
                      <div class="container">
                          <div class="todo-text">
                                <div class = "todo-item" *ngIf="!todo.editing; else editingTodo" [ngClass]="{doned : todo.done}">{{todo.label}}
                                </div> 
                                <ng-template #editingTodo>
                                <input type="text" [(ngModel)]="todo.label" (keyup.enter)="doneEdit(todo.id, $event)">  
                                </ng-template>
                            </div>
                            <div class="but">
                                <button class="btn btn-primary" 
                                [disabled]="todo.done"
                                (click)="editTodo(todo.id)">Edit</button>
                                <button class="btn btn-primary"
                                [disabled]="todo.editing" 
                                (click)="onDone(todo.id)">Done</button>
                                <button class="btn btn-primary" 
                                [disabled]="todo.done || todo.editing "
                                (click)="deleteTodo(todo.id)">Delete</button>
                            </div>
                    </div>
                    </li>
              </ul>
        </div>
    </div>
</div>
