<div class="d-flex  flex-column h-100 align-items-center justify-content-center">
  <div class="col-6">
    <label class="align"> Enter some text </label>
  <div>
    <input class="align" type="text" name="todo" [(ngModel)]="inputTask" placeholder="text">
    <button class="btn btn-primary align" 
    [disabled]= "!inputTask" 
    (click)="addToList()" 
    type="button">{{ isEdit ? 'Save' : 'Add' }}</button>
  </div>
  <div class ="border rounded ">
    <ul class="listNone">
      <li *ngFor="let item of list; let indexEdit=index">
       <app-todocomponent 
       [items]="item" 
       (editItem)="editItem(indexEdit)" 
       (deleteItem)="deleteItem(indexEdit)"
       (check)="checking(indexEdit)"> </app-todocomponent> 
      </li>
    </ul>
  </div>
  </div>  
  
  </div>
