.list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  margin: 10px 0 10px 0;
}

.list__item_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tasks__list-item {
  display: inline;
  color: black;
  margin: 0 0 0 10px;
}

.list__item_description {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.list__item_value {
  width: 20px;
  height: 20px;
}

.list__item_value--checked {
  text-decoration: line-through;
}

.list__item_description--disabled {
  display: none;
}

.button__edit {
  background-color: lightblue;
  border-color: lightblue;
  margin: 0 10px 0 0;
}

.button__save {
  background-color: lightgreen;
  border-color: lightgreen;
  margin: 0 10px 0 0;
}

.button__delete {
  background-color: red;
  border-color: red;
  color: white;
}

.button {
  width: 60px;
  border-width: 1px;
  border-style: solid;
}
