<div class="list-item" [ngClass]="{'task__done': task.isDone}">
    <div *ngIf="isEditMode; then editTask else showTask"></div>
    <ng-template #editTask>
        <input type="text" [(ngModel)]='editedTaskName'>
    </ng-template>
    <ng-template #showTask>
        <div class="list-item__name">
            <input type="checkbox" class="list-item__checkbox" (change)="onDoneChange()" [disabled]="task.isDone">
            <label>{{ task.name }}</label>
        </div>
    </ng-template>

    <div class="list-item__actions" [ngClass]="{'button--inactive':task.isDone}">
        <div *ngIf="isEditMode; then saveButton else editButton"></div>
        <ng-template #editButton>
            <button class="button button__edit" (click)="onEditClick()" [disabled]="task.isDone">Edit</button>

        </ng-template>
        <ng-template #saveButton>
            <button class="button button__save" (click)="onSaveClick()" [disabled]="task.isDone">Save</button>

        </ng-template>
        <button class="button button__delete" (click)="onDeleteClick()" [disabled]="task.isDone">Delete</button>
    </div>
</div>