<div class="container">
    <div class="todo-text">
          <div class = "todo-item" *ngIf="!todoItem.isEditing; else editingTodo" [ngClass]="{doned : todoItem.isDone}">{{todoItem.label}}
          </div> 
          <ng-template #editingTodo>
            <input type="text" [(ngModel)]="todoItem.label" (keyup.enter)="doneEdit($event)">  
          </ng-template>
      </div>
      <div class="but">
          <button class="btn btn-primary" 
          [disabled]="todoItem.isDone"
          (click)="editTodo()">Edit</button>
          <button class="btn btn-primary"
          [disabled]="todoItem.isEditing" 
          (click)="ChangeDoneStatus()">Done</button>
          <button class="btn btn-primary" 
          [disabled]="todoItem.isDone || todoItem.isEditing "
          (click)="deleteTodo()">Delete</button>
      </div>
  </div>