.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.doned{
    text-decoration: line-through;
}
    
button{
    margin-left: 5px;
}
    
.todo-text,  .but{
    width: 50%;
}