.task-to-add {
  display: flex;
  justify-content: space-between;
}

#task-to-add__name {
  border: 1px solid black;
  width: 80%;
  padding: 10px 0 0 20px;
  border: none;
  border-bottom: 1px solid black;
}

#task-to-add__name:focus {
  outline: none;
}

.add-button {
  color: white;
  background-color: forestgreen;
  border: none;
  width: 80px;
}
